// colors variables
$green-color: hsla(152, 100%, 40%, 1);
$logo-description-color:hsla(0, 100%, 100%, 1);
$color-notify-and-footer: hsla(0, 0%, 89%, 1);
$app-container-color:hsla(0, 0%, 0%, 0.54);
$app-static-color:hsla(18, 18%, 64%, 1);
$main-tabs-title-color:hsla(0, 0%, 13%, 1);
$snow: hsla(0, 100%,100%, 1);
$main-color:hsla(0, 3%, 59%, 1);


//fonts variables
$logo-description:'helveticaneuemedium';
$fieutures-fonts:'ralewaysemibold';
$fieutures-description:'Helvetica-Neue';
$testimonials-quote:'helveticaneueitalic';
$main-font: sans-serif;
$some-font: 'Gabriola';
$font-color: coral;
$main-font-size:1em;
$app-font-size:1.3em;
$friends-section-describs-font:0.918em;
$font-full:100%;
$body-font: 1.17vw;
$responsive-font: calc(16px * 100% / 1366vw);
$font1920vw: 0.8333333vw;

//Media sizes
$large: 1024px;
$medium:920px;
$small: 650px;
$extsmall:320px;